@font-face {
    font-family: 'Poppins-Regular';
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../font/Poppins-Medium.ttf);
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2 {
    font-family: 'Poppins-Bold' !important;
}

button:focus {
    outline: none;
}

select:focus {
    outline: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.container {
    max-width: 1400px;
}

.main-sp .container {
    max-width: 1649px;
}

body {
    overflow-x: hidden;
    position: relative;
}

.content-style {
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins-Regular';
}

/*-------------------footer------------------------*/

footer {
    padding-top: 80px;
    background-color: #00131C;
    background-image: url(../image/footer-back-design.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x: 100%;
}

.company-content {
    font-size: 14px;
    font-family: 'Poppins-Regular';
    color: #fff;
    margin-top: 20px;
}

.footer-head {
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 20px;
}

.footer-second-block a {
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins-Regular';
    margin-bottom: 20px;
    display: block;
}

.experts-btn {
    width: 190px;
    height: 45px;
    background-color: #00C0F7;
    border: 1px solid #00C0F7;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins-Medium';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: 0.3s;
}

.experts-btn:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #00131C;
}

.contact-btn {
    width: 190px;
    height: 45px;
    background-color: transparent;
    color: #00C0F7;
    border: 1px solid #00C0F7;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins-Medium';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: 0.3s;
}

.contact-btn:hover {
    background-color: #00C0F7;
    border: 1px solid #00C0F7;
    color: #fff;
}

.footer-block {
    display: flex;
}

.company-adress {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.company-adress img {
    margin-right: 10px;
    margin-top: 6px;
}

.company-adress .company-content {
    margin-top: 0;
}

.footer-first-block {
    width: 28%;
}

.footer-second-block {
    width: 14%;
}

.footer-third-block {
    width: 15%;
}

.footer-block div {
    margin-right: 68px;
}

.footer-block div:last-child {
    margin-right: 0;
}

.footer-last-line {
    height: 80px;
    background-color: rgb(0, 10, 15, 0.8);
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.copyright-content {
    font-size: 15px;
    color: #fff;
    font-family: 'Poppins-Regular';
}

.copy-block {
    display: flex;
    justify-content: space-between;
}

.social-icon {
    display: flex;
    margin-left: 10px;
}

.social-icon svg {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}

.payment-block {
    float: right;
}

.top-icon {
    position: fixed;
    bottom: 70px;
    right: 70px;
    z-index: 999;
    cursor: pointer;
}

@media (max-width: 1294px) and (min-width: 1200px) {
    .footer-block div {
        margin-right: 30px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .footer-block {
        flex-wrap: wrap;
    }
    .footer-last-block {
        width: 50%;
        margin-top: 30px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .footer-last-block {
        width: 50%;
        margin-top: 30px;
    }
    .footer-third-block {
        width: calc(40% - 45px);
        margin-top: 30px;
    }
}

@media (max-width: 767px) and (min-width: 568px) {
    .footer-first-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-last-block {
        width: 50%;
        margin-top: 30px;
    }
    .footer-third-block {
        width: calc(40% - 45px);
        margin-top: 30px;
    }
}

@media (max-width: 507px) and (min-width: 483px) {
    .footer-first-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-last-block {
        width: 50%;
        margin-top: 30px;
    }
    .footer-third-block {
        width: calc(40% - 45px);
        margin-top: 30px;
    }
}

@media (max-width: 482px) and (min-width:448px) {
    .footer-first-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-last-block {
        width: 100%;
        margin-top: 30px;
    }
    .footer-third-block {
        width: calc(100% - 45px);
        margin-top: 30px;
    }
    .footer-second-block {
        width: calc(50% - 68px);
    }
}

@media (max-width: 447px) {
    .footer-first-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-last-block {
        width: 100%;
        margin-top: 30px;
    }
    .footer-third-block {
        width: calc(100% - 45px);
        margin-top: 30px;
    }
    .footer-second-block {
        width: calc(50% - 68px);
    }
}